altgraph==0.17.2
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
colorama==0.4.4
future==0.18.2
fuzzywuzzy==0.18.0
idna==3.3
mutagen==1.45.1
pefile==2021.9.3
Pillow==8.2.0
pyinstaller==5.0
pyinstaller-hooks-contrib==2022.4
pymediainfo==5.1.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pywin32-ctypes==0.2.0
requests==2.27.1
tinytag==1.8.1
urllib3==1.26.9
